<div class="chat_container">
  <div class="chat_content">
    <div class="chat_text">
      <div class="text_chat_home">
        <h2>PARLA CON UN ESPECIALISTA</h2>
        <hr class="divider">
        <p>
          ricevi il tuo pacco regalo
directtamente a casa e
completamente gratis.
        </p>
        <div class="space-empty">

        </div>
        <button class="button" type="button" name="button">Chatta con Noi</button>
      </div>
    </div>
    <div class="chat_img">

    </div>

  </div>
</div>
