<div class="footer">
  <div class="footer_container">
    <div class="newsletter_home">
      <form class="newsletter_home_form" action="index.html" method="post">
        <input class="newsletter_input" type="text" name="name" value="Bawwwwww!">
        <div class="triangolo_newsletter_button">

        </div>
        <input class="newsletter_button" type="button" name="name" value="Newsletter">
      </form>
    </div>
    <div class="sec_menu">
      <div class="left">
        <ul>
          <li>Informazioni</li>
          <li>Condizioni Generali</li>
          <li>Privacy</li>
          <li>Nostra Storia</li>
          <li>Contattaci</li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>Transporto</li>
          <li>Metodi di Pago</li>
          <li>FAQ</li>
          <li>Termini e Condizioni</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="credits">
    <p>
     © DoggyBox s.r.l. All Right Reserve
    </p>
  </div>
</div>
