<div class="piano_container">
  <div class="intro_piano">
    <h2>Una nuova esperienza per il tuo amico a quattro zampe in tre semplici passi</h2>
  </div>
  <div class="cards_piano">
    <div class="cards" id="card1">
      <h4 id="parlaci_di_lui" class="text_title_cards">PARLACI DI LUI</h4>
      <hr class="divider"></hr>
      <p class="text_desc_cards">
        segui i passo per completare
        il tuo profilo ed aiutarci
        a capire meglio i gusti
        del tuo amichetto.
      </p>
    </div>
    <div class="cards" id="card2">
      <h4 id="scegli_piano" class="text_title_cards">SCEGLI UN PIANO</h4>
      <hr class="divider"></hr>
      <p class="text_desc_cards">
        segui i passo per completare
        il tuo profilo ed aiutarci
        a capire meglio i gusti
        del tuo amichetto.
      </p>
    </div>
    <div class="cards" id="card3">
      <h4 id="ricevi_delivery" class="text_title_cards">RECIVE DELIVERY</h4>
      <hr class="divider"></hr>
      <p class="text_desc_cards">
        segui i passo per completare
        il tuo profilo ed aiutarci
        a capire meglio i gusti
        del tuo amichetto.
      </p>
    </div>
  </div>
</div>
